.header__slider{
    padding: 0;

}
.header__slide{
    height: 500px;
    background-image: url(http://www.empregoerenda.com.br/images/cursos/com-as-maos-na-massa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-control-next, .carousel-control-prev {
    z-index: 15;
}
.header__carousel-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 10;
    text-shadow: 2px 2px 3px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.button-carousel{
    border-radius: 30px;
    padding:  5px 30px;;
    background-color:var(--bluecake);
    border-color: var(--bluecake);
    margin-top: 70px;
    font-family: var(--fonte-corpo);
}

.button-carousel:hover{
    background-color: #3f87e2;
    border-color: #3f87e2;
}

.header__carousel-text p{
    font-family: 'Lato', sans-serif;
}

.header__carousel-text h3{
    font-size: 2rem;

}

.header__carousel-text h1{
    font: bold 50px var( --fonte-titulo); 
}

.icones__home{
    background-color: #F2F2F2;
    width: 100%;

}

.img1{
    display: inline-block;
    text-align: center;
    padding-top: 25px;
}

.img1 h1{
    font-family: var( --fonte-titulo);

}

.img1 p{
    font-family: var( --fonte-corpo);
}

.sobre-a-equipe{
    margin: 0 auto;
    text-align: center;
    
}

.sobre-a-equipe h1{
    padding-top: 50px;
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 30px;
    font-weight: bold;
    color: #464646;

}

.sobre-a-equipe p{
    text-align: center;
    font-family: var(--fonte-corpo);
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    color: #303030;
}
.img__sobre{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 400px;
    width: 800px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 5px;
    padding-bottom: 2.5%;
}
.img__sobre img{
    width: 100%;
}
.header__carousel-text h3{
   color: #F2F2F2;
   font-family: var(--fonte-titulo);
}
.header__carousel-text h1{
    color: #F2F2F2;
    font-family: var(--fonte-titulo);
}
.line__one{
    background-color: #3f87e2;
    height: 2px;
    display: block;
    width: 100%;
}
.line__two{
    background-color: #3f87e2;
    height: 2px;
    display: block;
    width: 100%; 
}
.icones__home h1{
    color: #464646;
}
.icones__home p{
    color: #666666;
}

.background__icones{
    background-color: #F2F2F2;
}