.navbar{
    background-color: #3FA2E2;
}

.navbar-brand img{
    width:100px;
}

.header--search-input{
    border-radius: 100px;
    height:28px;
    width:225px; 
}
.header--search-input::-webkit-input-placeholder {
    color: #BDBDBD;
}
.header--menu .nav-item {
    border-right: 2px white solid;

}
.header--menu .nav-item:last-child {
    border-right: none;
}
 .navbar-expand-lg .navbar-nav.header--menu .nav-link{
    padding: 1px 40px;
    color: #F0F0F0;
}

.navbar-expand-lg .navbar-nav.header--menu .nav-link:hover{
    color: #FFFFFF;
}
