.fullheightbg {
  min-height: 100%;
  background-color: var(--cor-fundo);
  background-size: cover;
  padding: 30px; 
}


.formulario {
  color: var(--cor-texto);
}

#body__title{
color: var(--cor-texto);
margin: 0px;
margin-bottom: 30px;
font-family: var(--fonte-titulo);
}

.companyImg{
width: 70%;
margin-bottom: 50px;
margin: auto;

}
.companyImg .krajee-default.file-preview-frame {
  margin: 0px;
}
.file-preview-thumbnails{
  width: 100%;
}
.file-preview-frame.krajee-default.kv-preview-thumb{
  width: 100%;
}
.companyImg .krajee-default.file-preview-frame .kv-file-content {
  width: 100%;
}

.btn-primary {
  background-color: var(--bluecake);
  border-color: var(--bluecake);
}
body {
  font-family: var(--fonte-corpo);
}
.btn-secondary {
  margin-bottom: 10px;
  background-color: #e23f51;
  border-color: #e23f51;
  width: 100%; 

}
.enviar-wrapper {
  text-align: center;
  margin-bottom: 20px;
}