.lista-titulo {
    font-weight: bold;
    font-size: 18px;
}

.lista-item {
    font-size: 14px;
    margin: 0;
    color: #939393;
}

.lista-descricao {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

@media (max-width: 991px) 
{
    .lista-descricao {
    margin-top: 8px;
    
    }
 
}

.lista-tags {
    display: flex;
    align-items: flex-end;
}

.lista-tags p {
    margin-bottom: 0;
}

.lista-curso {
    display: flex;
}

.lista-imagem {
    display: flex;
    align-items: center;
}

.lista-logo {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    height: auto;
}

.row.row-pesquisa {
    margin-top: 10px ;
    margin-bottom: 10px;
    /* margin: 15px 0px; */
}

@media (max-width: 991px) 
{
    .row-pesquisa {
    padding: 5px;
    display: block;
    }
}
.custom-select.categoria-select {
    /* width: 200px; */
    border-radius: 20px;
}

.card.card-curso {
margin-bottom:10px;
border-radius:8px;
box-shadow: 1px 1px 5px #EEEEEE;
padding: 16px;
}

.card.card-curso a {
    color: #212529;
    text-decoration: none;
} 
.row-pesquisa .select2-container {
    width: 100% !important; 
}

.row-pesquisa .select2-container--default .select2-selection--multiple {
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.row-pesquisa .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid grey 1px;
    outline: 0;
}

.row-pesquisa .select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 0;
    border-radius: 20px;
    border-color: lightgrey;
}

.select2-container--default .select2-selection--multiple {
    border: solid lightgrey 1px;
}

.select2-container--default {
    border-color: lightgrey;
}

.cursos-pesquisa{
    border-radius: 20px;
    border: solid lightgrey 1px;
    outline: 0;
    line-height: 1.15;
}

.cursos-pesquisa::-webkit-input-placeholder {
    color: #b1a9ae;
    opacity: 1; /* Firefox */
}

.cursos-pesquisa:focus {
    outline: none !important;
    border: 1px solid grey;
    box-shadow: none;
}

.select2-container.select2-container--default.select2-container--open {
    transform: translateY(2px);
}

.select2.select2-container.select2-container--default.select2-container--open {
    transform: translateY(0px);
}

.select2-dropdown.select2-dropdown--below {
    border-top: 1px solid #aaa;
    border-radius: 9px;
    overflow: hidden;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.select2-container--default .select2-search--inline .select2-search__field{
margin-left: 5.5px;


}
.cursos-pesquisa-botao{
    border-radius: 20px;
}
.cursos-pesquisa-botao:focus{
    outline: none !important;
    border: 1px solid grey;
    box-shadow: none !important;
}
.custom-select.categoria-select {
    /* display: none; */
    opacity: 0 ;
}
body {
    background-color: #fff;
}


@media(max-width:991px) {
    .pesquisa{margin-top:12px }
}

