.rodape__redes-socias {
    text-align: center;
    margin-top: 9%;

}

body {
    background-color:#3FADDC
}


.text{

color: white;


}
.footer{
    margin-top: 2.5%;
}
.logoImg{
    margin: 25px;
    height: 58px;
}