@media (min-width: 576px) 
{
    .rodape__redes-socias {
        margin-top: 20%;
    }
}

body {
    
}


.text{
    color: white;
    font-family: var(--fonte-corpo)
    
}
.footer{
    background-color: var(--bluecake);
}
.logoImg{
    /* margin: 25px;
    height: 58px; */
}

.rodape_parceiros{
    padding-top: 20px;
    padding-bottom: 0px;
    color: white;
    
}

.rodape_parceiros img {
    height: 80px;
}

.icn-sc {
    /* padding-left: 50px; */
    
}