.rodape__redes-socias {
    text-align: center;
    margin-top: 20%;

}

body {
    
}


.text{

color: white;


}
.footer{
    margin-top: 2.5%;
    background-color:rgb(57, 168, 216);
}
.logoImg{
    margin: 25px;
    height: 58px;
}


.rodape_parceiros{
    text-align: center;
    padding: 10px;
    background-color: #05638a;
    height: 100%;

}

.rodape_parceiros img {

height: 110px;


}

