.navbar{
  background-color: var(--bluecake);
}

.navbar-brand img{
  width:100px;
}

.header--search-input{
  border-radius: 100px;
  height:28px;
  width:225px;
  background-image: url(images/Lupa.svg);
  background-repeat: no-repeat;
  background-position: 94% 76%;
  background-size: 20px;
  padding-right: 35px;
}
.header--search-input::-webkit-input-placeholder {
  color: #BDBDBD;
}
.header--menu .nav-item {
  border-right: 2px white solid;

}
.header--menu .nav-item:last-child {
  border-right: none;
}
.navbar-expand-lg .navbar-nav.header--menu .nav-link{
  padding: 1px 40px;
  color: #F0F0F0;
}

.navbar-expand-lg .navbar-nav.header--menu .nav-link:hover{
  color: #FFFFFF;
}