:root {
  --bluecake: #3FA2E2;

  --cor-fundo: #F2F2F2;
  --fonte-titulo:'Raleway', sans-serif;
  --fonte-corpo:'Open Sans', sans-serif;
  --cor-texto: #303030;
}

.img__sobre{
  margin-bottom: 4em;
}